services:
  namenode:
    image: apache/hadoop:3.3.5
    container_name: namenode
    hostname: namenode
    user: root
    environment:
      - HADOOP_HOME=/opt/hadoop
    volumes:
      - ./hdfs/namenode:/opt/hadoop/data/nameNode
      - ./hdfs/conf:/opt/hadoop/etc/hadoop
      - ./hdfs/start-hdfs.sh:/start-hdfs.sh
    ports:
      - "9870:9870"  # Web UI NameNode
    command: [ "/bin/bash", "/start-hdfs.sh" ]
    networks:
      sabd_network:
        ipv4_address: 172.20.0.2

  datanode1:
    image: apache/hadoop:3.3.5
    container_name: datanode1
    hostname: datanode1
    user: root
    environment:
      - HADOOP_HOME=/opt/hadoop
    volumes:
      - ./hdfs/datanode1:/opt/hadoop/data/dataNode
      - ./hdfs/conf:/opt/hadoop/etc/hadoop
      - ./hdfs/init-datanode.sh:/init-datanode.sh
    depends_on:
      - namenode
    command: [ "/bin/bash", "/init-datanode.sh" ]
    networks:
      sabd_network:
        ipv4_address: 172.20.0.3

  datanode2:
    image: apache/hadoop:3.3.5
    container_name: datanode2
    hostname: datanode2
    user: root
    environment:
      - HADOOP_HOME=/opt/hadoop
    volumes:
      - ./hdfs/datanode2:/opt/hadoop/data/dataNode
      - ./hdfs/conf:/opt/hadoop/etc/hadoop
      - ./hdfs/init-datanode.sh:/init-datanode.sh
    depends_on:
      - namenode
    command: [ "/bin/bash", "/init-datanode.sh" ]
    networks:
      sabd_network:
        ipv4_address: 172.20.0.4


  spark-master:
    image: apache/spark:3.5.0
    container_name: spark-master
    hostname: spark-master
    environment:
      - SPARK_MODE=master
    ports:
      - "7077:7077"   # Spark master port
      - "8080:8080"   # Spark master web UI
    volumes:
      - ./hdfs/conf:/opt/hadoop/etc/hadoop  # Per accedere ai file core-site.xml e hdfs-site.xml
      - ./spark/app:/app  # Per i tuoi job Spark
    command: >
      bash -c "/opt/spark/bin/spark-class org.apache.spark.deploy.master.Master --host spark-master"
    networks:
      sabd_network:
        ipv4_address: 172.20.0.15
    depends_on:
      - namenode
      - datanode1
      - datanode2

  spark-worker:
    image: apache/spark:3.5.0
    container_name: spark-worker
    hostname: spark-worker
    environment:
      - SPARK_MODE=worker
    volumes:
      - ./hdfs/conf:/opt/hadoop/etc/hadoop
    command: >
      bash -c "/opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077"
    networks:
      sabd_network:
        ipv4_address: 172.20.0.16
    depends_on:
      - spark-master



  nifi:
    build:
      context: .
      dockerfile: nifi/Dockerfile.nifi
    container_name: nifi
    ports:
      - "8443:8443"
      - "1406:1406"
    environment:
      - NIFI_WEB_HTTPS_PORT=8443
      - NIFI_WEB_HTTPS_HOST=0.0.0.0
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=adminpassword
    networks:
      sabd_network:
        ipv4_address: 172.20.0.12
    volumes:        
      - ./hdfs/conf:/opt/hadoop/etc/hadoop
      - ./nifi/app/nifi_url_feeder.py:/app/nifi_url_feeder.py
      - ./nifi/conf/prova.xml:/opt/nifi/conf/prova.xml
      - ./nifi/import-template.sh:/opt/nifi/scripts/import-template.sh
      - ./nifi/entrypoint.sh:/opt/nifi/scripts/entrypoint.sh
    command: [ "/bin/bash", "/opt/nifi/scripts/entrypoint.sh" ]
  
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      sabd_network:
        ipv4_address: 172.20.0.13
    volumes:
      - redis_data:/data


  redis-loader:
    build:
      context: ./redis
    container_name: redis-loader
    depends_on:
      - redis
      - namenode
    networks:
      sabd_network:
        ipv4_address: 172.20.0.14


networks:
  sabd_network:
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/16

volumes:
  redis_data: